@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this inside your <style> tag or CSS file */
.grid-background-dark{
  /* Start with a black background */
  background-color: #000;

  /* Create a grid pattern using repeating linear gradients */
  background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  
  /* Set the size of the grid lines and the space between them */
  background-size: 160px 160px;

  /* Position the grid correctly */
  background-position: center;
}
.grid-background-light{
  /* Start with a black background */
  background-color: #cbd5e1;

  /* Create a grid pattern using repeating linear gradients */
  background-image: 
    linear-gradient(90deg, rgba(26, 14, 14, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(3, 2, 2, 0.1) 1px, transparent 1px);
  
  /* Set the size of the grid lines and the space between them */
  background-size: 160px 160px;

  /* Position the grid correctly */
  background-position: center;
}


.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark p {
  color: #ffffff;
}

.light {
  background-color: #e1e6ef;
  color: #000;
}

.text-color-dark {
  color: #ffffff;
}

.text-color-light {
  color: #000000;
}